[Desktop Entry]
Comment=Lightweight Bitcoin Client
Exec=electrum-wrapper.sh open %u
GenericName=Electrum
Icon=/usr/share/app-install/icons/electrum.png
MimeType=application/x-electrum-wallet
Name=Electrum Bitcoin
StartupNotify=true
