#ifdef SECTION_BTCVAULT
menu_active(BTC Vault,index.html)
#else
menu_inactive(BTC Vault,index.html)
#endif

#ifdef SECTION_BITCOIN
menu_active(Bitcoin,bitcoin.html)
#else
menu_inactive(Bitcoin,bitcoin.html)
#endif

#ifdef SECTION_ELECTRUM
menu_active(Electrum,electrum.html)
#else
menu_inactive(Electrum,electrum.html)
#endif

#ifdef SECTION_MULTIBIT
menu_active(MultiBit,multibit.html)
#else
menu_inactive(MultiBit,multibit.html)
#endif

#ifdef SECTION_OBTAIN
menu_active(Download &amp; Use,obtain.html)
#else
menu_inactive(Download &amp; Use,obtain.html)
#endif

#ifdef SECTION_SECURITY
menu_active(Security,security.html)
#else
menu_inactive(Security,security.html)
#endif

#ifdef SECTION_FAQ
menu_active(FAQ,faq.html)
#else
menu_inactive(FAQ,faq.html)
#endif

menu_inactive(EXTERNAL Github Project,https://github.com/dswd/btcvault)
