#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Lightweight Bitcoin Client
Exec=electrum-wrapper.sh open
GenericName[en_US]=Electrum
GenericName=Electrum
Icon=/usr/share/app-install/icons/electrum.png
Name[en_US]=Electrum
Name=Electrum
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application

