#ifdef SECTION_WELCOME
menu_active(Welcome,index.html)
#else
menu_inactive(Welcome,index.html)
#endif

#ifdef SECTION_BITCOIN
menu_active(Bitcoin,bitcoin.html)
#else
menu_inactive(Bitcoin,bitcoin.html)
#endif

#ifdef SECTION_BTCVAULT
menu_active(BTC Vault,btcvault.html)
#else
menu_inactive(BTC Vault,btcvault.html)
#endif

#ifdef SECTION_ELECTRUM
menu_active(Electrum,electrum.html)
#else
menu_inactive(Electrum,electrum.html)
#endif

#ifdef SECTION_MULTIBIT
menu_active(MultiBit,multibit.html)
#else
menu_inactive(MultiBit,multibit.html)
#endif

#ifdef SECTION_SECURITY
menu_active(Security,security.html)
#else
menu_inactive(Security,security.html)
#endif

