[Desktop Action NewWallet]
Exec=electrum-wrapper.sh save '%u'
Name=Create Electrum Bitcoin Wallet...
Icon=/usr/share/app-install/icons/electrum.png

[Desktop Entry]
Type=Service
ServiceTypes=inode/folder
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-Priority=TopLevel
Actions=NewWallet
 
